# keys
.env
# local folders
/__pycache__/
/.idea/
/finished/
/venv/
/downloads/
/videos/
/soundtracks/
/tests/
# In case narration doesn't get cleaned up
narration.wav
narration_effected.wav
temp-audio.m4a
deeplabv3_xception_tf_dim_ordering_tf_kernels.h5
mask_rcnn_coco.h5
.vscode/
*.mp4
test_*.py
*.wav

